<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
    <style>
.box1{
    background-color: {{colorOne}} ;
}
.box2{
    background-color: {{colorTwo}} ;
    </style>
</head>
<body>
    <h1>***Checkerboard***</h1>
    <div class="container">
        <table class="checkerboard">
            {% for i in range(0,numOne) %}
                <tr>
                    {% for j in range(0,numTwo) %}
                        <td class=box{{ (i+j)%2+1}}></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>